version: '3'

# configure ingestion-edge for ci
services:
  web:
    build: .
    image: &image "${DOCKERHUB_REPO-ingestion-edge}:${CIRCLE_TAG-latest}"
    environment:
    - &emulator_host PUBSUB_EMULATOR_HOST=pubsub:8085
    - &route_table >-
      ROUTE_TABLE=[
        [
          "/stub/<suffix:path>",
          "projects/test/topics/stub_installer",
          ["GET"]
        ],
        [
          "/submit/telemetry/<suffix:path>",
          "projects/test/topics/telemetry"
        ],
        [
          "/submit/sslreports",
          "projects/test/topics/tls_error_reports",
          ["post", "put"]
        ],
        [
          "/submit/<suffix:path>",
          "projects/test/topics/ingestion",
          ["PoSt", "pUt"]
        ],
        [
          "/submit",
          "projects/test/topics/ingestion"
        ]
      ]
  pubsub:
    image: *image
    command: python -m pubsub_emulator
    environment:
      PORT: 8085
  test:
    image: *image
    entrypoint: pytest
    command:
    - --black
    - --flake8
    - --docstyle
    - --mypy
    - --mypy-ignore-missing-imports
    - --cov=./ingestion_edge/
    - --ignore=tests/load
    depends_on:
    - pubsub
    - web
    environment:
    - *emulator_host
    - *route_table
