aiohttp==3.7.2
dockerflow==2020.10.0
google-cloud-container==2.2.0
google-cloud-monitoring==2.0.0
google-cloud-pubsub==1.0.2
gunicorn==20.0.4
kubernetes==12.0.1
persist-queue==0.5.1
psutil==5.7.3
pytest-black==0.3.12
pytest-cov==2.10.1
pytest-env==0.6.2
pytest-flake8==1.0.6
pytest-mock==3.3.1
pytest-mypy==0.8.0
pytest-pydocstyle==2.2.0
pytest-sanic==1.6.2
pytest-timeout==1.4.2
pytest==6.1.2
python-dateutil==2.8.1
Sanic==20.9.1
