aiohttp==3.10.3
dockerflow==2022.8.0
exceptiongroup  # for pytest on python<=3.10
google-cloud-container==2.46.0
google-cloud-monitoring==2.22.2
google-cloud-pubsub==1.0.2
gunicorn==22.0.0
kubernetes==28.1.0
persist-queue==0.8.1
pip-tools==7.3.0
psutil==6.1.0
pytest-asyncio==0.24.0
pytest-black==0.3.12
pytest-cov==5.0.0
pytest-env==1.1.5
pytest-flake8==1.2.2
pytest-mock==3.14.0
pytest-mypy==0.10.3
pytest-pydocstyle==2.4.0
pytest-timeout==2.3.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pyyaml==6.0.1 # earlier versions crash the build because of a bug related to Cython3, this can be removed after kubernetes package upgrades their pyyaml version, see https://github.com/yaml/pyyaml/issues/724#issuecomment-1645658545
sanic-testing<22.9
Sanic<22.9
tomli  # for pytest on python<=3.10
types-protobuf
types-python-dateutil
types-PyYAML
types-requests
uvicorn
