version: 2
updates:
- package-ecosystem: maven
  directory: /
  schedule:
    interval: daily
  reviewers:
  - relud
  - jklukas
  labels:
  - dependencies
  - java
- package-ecosystem: pip
  directory: /ingestion-edge
  schedule:
    interval: daily
  reviewers:
  - relud
  labels:
  - dependencies
  - python
  ignore:
  - dependency-name: google-cloud-pubsub
