version: 2
updates:
- package-ecosystem: maven
  directory: /
  ignore:
  - dependency-name: com.google.cloud:libraries-bom
  - dependency-name: com.fasterxml.jackson:jackson-bom
  - dependency-name: org.apache.avro:avro
  schedule:
    interval: daily
  reviewers:
  - relud
  - jklukas
  labels:
  - dependencies
  - java
- package-ecosystem: maven
  directory: /ingestion-sink
  allow:
  - dependency-name: com.google.cloud:libraries-bom
  schedule:
    interval: daily
  reviewers:
  - relud
  labels:
  - dependencies
  - java
- package-ecosystem: pip
  directory: /ingestion-edge
  schedule:
    interval: daily
  reviewers:
  - relud
  labels:
  - dependencies
  - python
