version: 2
jobs:
  spelling:
    docker:
    - image: mozilla/markdown-spellcheck
    steps:
    - checkout
    - run:
        name: Spell Check
        command: mdspell --ignore-numbers --en-us --report '**/*.md'

  doctoc:
    docker:
    - image: node:8.10.0
    steps:
      - checkout
      - run:
          name: Ensure markdown tables of contents are up to date
          command: ./.circleci/doctoc-check.sh

  ingestion-edge:
    docker:
    - image: docker/compose:1.22.0
    steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: true
    - run:
        name: Create version.json
        command: >-
          printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n'
          "$CIRCLE_SHA1"
          "${CIRCLE_TAG-latest}"
          "$CIRCLE_PROJECT_USERNAME"
          "$CIRCLE_PROJECT_REPONAME"
          "$CIRCLE_BUILD_URL"
          > ingestion-edge/version.json
    - run:
        name: Persist CI environment file for passing into docker containers
        command: env | grep '^CI' > ingestion-edge/circleci.env
    - run:
        name: Docker Compose Test
        command: >-
          docker-compose
          up
          --build
          --abort-on-container-exit
          --force-recreate
          --quiet-pull
        environment:
          COMPOSE_FILE: ingestion-edge/docker-compose.yml:ingestion-edge/docker-compose.circleci.yml
          COMPOSE_PROJECT_NAME: circleci-ingestion-edge
    - run:
        name: Early return for no deploy
        command: |
          if [ -n "$CIRCLE_PR_NUMBER" ] || ([ "${CIRCLE_BRANCH}" != "master" ] && [ -z "${CIRCLE_TAG}" ]); then
            echo "Nothing to deploy"
            circleci step halt
          fi
    - run:
        name: Deploy to Dockerhub
        command: |
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker-compose push web
        environment:
          COMPOSE_FILE: ingestion-edge/docker-compose.yml
          COMPOSE_PROJECT_NAME: circleci-ingestion-edge

  ingestion-beam:
    docker:
    # Pin the maven image due to observed VM aborts on CircleCI 2018-01-08.
    - image: maven@sha256:955e28c9a64b439591adfd43da77586c8bcd45f51627bf9144e297386c6a6be3
    steps:
    - checkout
    - restore_cache: &restore_cache_beam
        keys:
          # when lock file changes, use increasingly general patterns to restore cache
          # https://circleci.com/docs/2.0/caching/#maven-java-and-leiningen-clojure
          - maven-repo-v1-{{ .Branch }}-{{ checksum "ingestion-beam/pom.xml" }}
          - maven-repo-v1-{{ .Branch }}-
          - maven-repo-v1-
    - run: &download_beam_resources
        name: Download Geolite2 and schemas
        command: |
          ingestion-beam/bin/download-geolite2
          ingestion-beam/bin/download-schemas
    - run:
        name: Maven Test
        command: cd ingestion-beam && mvn clean test
    - run:
        name: Report code coverage
        command: bash <(curl -s https://codecov.io/bash) -F ingestion_beam
    - save_cache:
        paths:
          - ~/.m2
        key: maven-repo-v1-{{ .Branch }}-{{ checksum "ingestion-beam/pom.xml" }}

  ingestion-beam-integration:
    docker:
    # Pin the maven image due to observed VM aborts on CircleCI 2018-01-08.
    - image: maven@sha256:955e28c9a64b439591adfd43da77586c8bcd45f51627bf9144e297386c6a6be3
    steps:
    - run:
        name: Early return if this build is from a forked PR
        command: |
          if [ -n "$CIRCLE_PR_NUMBER" ]; then
            echo "Nothing to upload for forked PRs, so marking this step successful"
            circleci step halt
          fi
    - checkout
    - restore_cache:
        <<: *restore_cache_beam
    - run:
        <<: *download_beam_resources
    - run:
        name: Maven Test
        # Google's client libraries will check for GOOGLE_APPLICATION_CREDENTIALS
        # and use a file in that location for credentials if present;
        # See https://cloud.google.com/docs/authentication/production
        command: |
          export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp.json"
          echo "$GCLOUD_SERVICE_KEY" > "$GOOGLE_APPLICATION_CREDENTIALS"
          cd ingestion-beam && mvn clean test -Dtest=*IntegrationTest
    - run:
        name: Report code coverage
        command: bash <(curl -s https://codecov.io/bash) -F ingestion_beam
    # We don't save_cache here; we let the ingestion-beam job cover that.

workflows:
  version: 2
  build:
    jobs:
    - spelling
    - doctoc
    - ingestion-edge
    - ingestion-beam
    - ingestion-beam-integration
